$c-brand: #fae501;
$c-light-accent: #4fb5e1;
$c-dark-accent: #ac4648;
$c-light-shades: #fafaf8;
$c-dark-shades: #091421;
$c-background: #0a192f;
$c-white: #fff;
$c-black: #000;

$padding-lg: 36px;
$padding-sm: calc(#{$padding-lg} / 2);

$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 40px;
$space-xxl: 48px;
$space-xxxl: 56px;

$bp-large: 768px;

$transition: cubic-bezier(0.645, 0.045, 0.355, 1);

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
