$c-accent: #f33643;
$c-accent-dark: #0a192f;
$c-accent-light: #ffe3e3;
$c-accent-transparent: #f3364321;
$c-fogra: #172a45;
$c-main: #ccd6f6;
$c-navy-light: #a864ff;
$c-navy-dark: #4f2592;

$c-white: #fff;
$c-black: #000;

$padding-lg: 48px;
$padding-sm: calc(#{$padding-lg} / 2);

$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 40px;
$space-xxl: 48px;
$space-xxxl: 56px;

$bp-large: 768px;

$transition: cubic-bezier(0.645, 0.045, 0.355, 1);

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
